.cart-summ-header {
    padding-bottom: 2rem;
}

.cart-summ-page-h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.cart-summ-delete-btn {
    border: none;
    background-color: transparent;
    color: #26CFC6;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-decoration: underline;
}

.cart-summ-pay-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.cart-summ-pay-btn {
    border: none;
    background-color: #3BC5B1;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 12px;
    color: #F1F9F6;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    box-shadow: 0px 3px 10px #B9DFD1;
}

.cart-summ-pay-btn:hover,
.cart-summ-pay-btn:focus {
    background-color: #26CFC6;
}


/* sweetalert */
div.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
    border-radius: 20px !important;
    /* background-color: !important; */
}

.swal2-success-ring {
    border-color: #26cfc765 !important;
}

span.swal2-success-line-tip,
span.swal2-success-line-long,
span.swal2-success-ring,
span.swal2-success-fix {
    background-color: #26CFC6;
}



div:where(.swal2-icon).swal2-success {
    border-color: #26CFC6 !important;
    color: #26CFC6 !important;
}

div.swal2-popup.swal2-modal.swal2-icon-success.swal2-show p {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.6rem !important;
    font-weight: 700 !important;
    margin-bottom: 0.2rem !important;
}

div.swal2-html-container {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1rem !important;
}

button.swal2-confirm.swal2-styled {
    background-color: #3BC5B1 !important;
    border-radius: 10px !important;
    border: none !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 0.75px !important;
    box-shadow: 0px 3px 15px #B9DFD1 !important;
}

@media (min-width: 700px) {
    .cart-summ-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cart-summ-page-h3 {
        margin: 0;
    }

    .cart-summ-pay-div {
        flex-direction: row;
        justify-content: space-between;
    }
}