.main-section {
    padding: 3rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    gap: 1.75rem;
}


@media (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}