/* FONTS
font-family: 'Cormorant Garamond', serif;
font-family: 'Raleway', sans-serif; */

/* COLORS
#E1E1DA light beige
#212529 off black 
#F3F3F2 off white
#B1AE9B beige
#9A9784 shadow beige
*/

body {
  background-color: #E1E1DA;
  font-family: 'Raleway', sans-serif;
  color: #212529;
  margin: 0.5em 0.25em;
  border: 1px solid #212529;
}

.solid-line {
  height: 1px;
  border-bottom: 1px solid #212529;
}

h1,
h2,
h3 {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
  line-height: 1;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.01rem;
}

img,
video {
  max-width: 100%;
}

/* section {
  margin: 1rem 0;
} */