.hero-div-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-x: hidden;
}

.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-h1 {
    font-size: 3rem;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-weight: 800;
    text-transform: none;
    color: #3CC5B1;
    text-align: center;
}

.hero-p-div {
    width: 80%;
    margin: 0 auto;
}

.hero-p {
    text-align: center;
    font-weight: 500;
    margin-bottom: 7rem;
}

.hero-div-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.hero-btn {
    background-color: transparent;
    border: none;
    font-family: 'Merriweather Sans', sans-serif;
    color: #0D1C1A;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #3CC5B1;
    color: #F7FCFB;
}

.hero-div-img {
    width: 40rem;
    margin-bottom: 2.5rem;

    /* height: 40rem; */
}

@media (min-width: 700px) {
    .hero-div {
        width: 70%;
        gap: 2rem;
    }

    .hero-h1 {
        font-size: 3.5rem;
    }

    .hero-div-img {
        width: 100%;
        margin-bottom: 4rem;
    }

    .hero-p {
        margin-bottom: 2rem;
    }

    .hero-div-btn {
        margin-bottom: 0;
    }
}