.hero-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: 1px solid red;
    margin-bottom: 3rem;
    overflow: hidden;
}

.hero-h1 {
    font-size: 6rem;
    text-align: center;
}

.hero-p {
    text-align: center;
    font-style: italic;
}

.hero-img {
    height: 25rem;
    padding: 3rem;
    transform: rotate(20deg);
}

@media (min-width: 700px) {
    .hero-div {
        height: 80vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}